.topSpace {
  padding-top: 10px;
}

.pt-3 {
  padding-top: 30px;
}

.pt-45 {
  padding-top: 45px;
}
.pt-10 {
  padding-top: 10px;
}
.pt-10p {
  padding-left: 10%;
  padding-right: 10%;
}
.pt-20p {
  padding-left: 20%;
  padding-right: 20%;
}

.spinner-border {
  visibility: collapse;
}

.alert {
  visibility: collapse;
}

.alert-float {
  z-index: -10;
}

.card:hover {
  cursor: pointer;
}
#closeContent {
  visibility: hidden;
}
.container {
  width: auto;
  max-width: 680px;
  padding: 0 15px;
}

.red-n {
  color: red;
  font-size: 12px;
}
.green-n {
  color: green;
  font-size: 12px;
}
.m-progress-t {
  margin-top: 7px;
}
.text-grey {
  color: #d6d8da;
}
.pb-5 {
  padding-bottom: 5px;
}
.pt-05{
    padding-top: 5px;
}
.inputTool{
  width: 80%;
}