.topSpace {
    padding-top: 10px;
}

.pt-3 {
    padding-top: 30px;
}

.spinner-border {
    visibility: collapse;
}

.alert{
    visibility: collapse;
}

.alert-float{
    z-index: -10;
}

.card:hover{
    cursor: pointer;
}
#closeContent{
    visibility: hidden;
}
.container {
    width: auto;
    max-width: 680px;
    padding: 0 15px;
  }
  