.topSpace {
  padding-top: 10px;
}

.pt-3 {
  padding-top: 30px;
}

.pt-45 {
  padding-top: 45px;
}
.pt-10 {
  padding-top: 10px;
}
.pt-10p {
  padding-left: 10%;
  padding-right: 10%;
}
.pt-20p {
  padding-left: 20%;
  padding-right: 20%;
}
/*
.spinner-border {
  visibility: collapse;
}*/

.alert {
  visibility: collapse;
}

.alert-float {
  z-index: -10;
}

.card:hover {
  cursor: pointer;
}
#closeContent {
  visibility: hidden;
}
.container {
  width: auto;
  max-width: 680px;
  padding: 0 15px;
}

.red-n {
  color: red;
  font-size: 12px;
}
.green-n {
  color: green;
  font-size: 12px;
}
.m-progress-t {
  margin-top: 7px;
}
.text-grey {
  color: #d6d8da;
}
.pb-5 {
  padding-bottom: 5px;
}
.pt-05{
    padding-top: 5px;
}
.inputTool{
  width: 80%;
}
.btn-grey {
  background-color: blanchedalmond;
}

.push-top {
 margin-top: -18px;
 z-index: 1000;
}

.push-right {
  margin-top: -45px;
  margin-left: 130px;
  z-index: 1000;
 }

.sm-txt1 {
  font-size: 13px;
}
.sm-txt2 {
  font-size: 15px;
}
.selecttool {
  width: 20%;
}
.inputconvert{
  width: 30%;
}
.inputamount{
  width: 10%;
}
.red-input:focus {
  background: yellow;
  color: red;
}
.input4GI {
  margin-bottom: 5px;
}
.btn4GI {
  margin-bottom: 5px;
}

.myZI {
  z-index: 10;
}

#overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,.5) url(spinner.gif) center center no-repeat;
}